@import '../../../styles/main.scss';

.payment-box{
    @include flexBox(column, flex-start, flex-start);
    gap: 1rem;
    width: 60%;
    margin-bottom: .5rem;

    .payment-method{
        width: 100%;
        .method-choose{
            @include flexBox(row, flex-start, center);
            margin-bottom: .5rem;
            input{
                margin-right: .5rem;
            }
            label{
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}

.form-not-filled{
    font-size: 12px;
    color: $primary;
    font-weight: 500;
}