@import '../../../styles/main.scss';

.product-order{

    @include flexBox(row, space-between, center);
    gap: .25rem;
    margin-bottom: .5rem;

    img{

        @media screen and (max-width: $xs){
            width: 36px;
            height: 36px;
        }
    }

    .quantity, .product-name{

        p, h6{
            font-size: 14px;

            @media screen and (max-width: $sm) {
                font-size: 13px;
            }
        }
    }

    .product-name{

        h6{
            font-weight: 500;
            color: $primary;
        }

        .variation{

            p{
                font-size: 10px;
                font-weight: 500;
                text-transform: capitalize;
            }
        }
    }
    .subtotal{

        h5{
            @include title_font_sm;
            font-size: 12px;

            &.old-price{
                font-size: 10px;
                text-decoration: line-through;
                color: $primary;
            }

            &.discounted-amount, &.original-price{
                font-size: 12px;
            }
            
            @media screen and (max-width: $sm) {
                font-size: 13px;
                &.old-price{
                    font-size: 11px;
                    text-decoration: overline;
                    color: $primary;
                }
    
                &.discounted-amount, &.original-price{
                    font-size: 13px;
                }
            }
        }
    }
}