.cart-index{
    width: 12px;
    height: 12px;
    @include flexBox(row, center, center);
    @include borderRadius(50%);
    color: $pure_w;
    font-size: 8px;
    line-height: 8px;
    font-weight: bold;
    text-decoration: none;
    background-color: $primary;
    position: absolute;
    top: -4px;
    right: -6px;

}

.btn{
    @include btn_font;
    @include borderRadius(4px);
    @include transition(all 0.3s ease-in-out);
    min-width: 168px;
    width: fit-content;
    padding: 10px 24px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    &.btn-primary, &.btn-secondary:hover{
        background-color: $primary;
        color: $pure_w;
        border: 1px solid $primary;
    }

    &.btn-secondary, &.btn-primary:hover{
        background-color: transparent;
        color: $primary;
        border: 1px solid $primary;
    }
}

.link{
    @include transition(all 0.3s ease-in-out);
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;

    &.upper{
        text-transform: uppercase;
    }

    &.u-line{
        text-decoration: underline;
    }

    &.link-b{
        color: $pure_b;

        &:hover{
            color: $primary;
        }
    }

    &.link-w{
        color: $pure_w;

        &:hover{
            color: $primary;
        }
    }

    &.link-primary{
        color: $primary;

        &:hover{
            text-decoration: underline;
        }
    }
    
}

.add-to-cart-btn{
    background-color: $pure_b;
    color: $pure_w;
    font-size: 10px;
    letter-spacing: 1px;
    padding: .85rem 3rem;
    align-self: flex-end;

    @media screen and (max-width: $xs) {
        width: 100%;
    }

    &:hover{
        background-color: $pure_b_75;
    }
}