$primary: #ff3545;

$pure_w: #fff;
$pure_w_75: rgba($color: $pure_w, $alpha: .75);
$pure_w_50: rgba($color: $pure_w, $alpha: .5);
$pure_w_25: rgba($color: $pure_w, $alpha: .25);
$pure_w_10: rgba($color: $pure_w, $alpha: .1);

$pure_b: #000;
$pure_b_75: rgba($color: $pure_b, $alpha: .75);
$pure_b_50: rgba($color: $pure_b, $alpha: .5);
$pure_b_25: rgba($color: $pure_b, $alpha: .25);
$pure_b_10: rgba($color: $pure_b, $alpha: .1);

//* Usualy for "Sliders" background images
$bg_img_color: #ECECEC;
//* Usualy for other background images
$bg_img_color2: #EBEBEB;

$accent_greens: #0BC75B;

$lightgray: rgb(230, 230, 230);

//* Form color
$bg_form: #F1F2F3;
$border_form: #C6C6C6;